*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: aliceblue
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif; */


.teacher-info{
    /* border:2px solid black ; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-profile{
    border: 3px solid red;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-right: 50px;
    background-image: url(images/sub1.png);
    background-repeat: no-repeat;
}
.teacher-info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    opacity: 0.8;

}
.teacher-info p{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}
.uploaded-text{
    font-family: 'Raleway', sans-serif;
    margin-left: 200px;
    margin-top: 100px;
}
.videos div{
    min-width: 300px;
    min-height: 200px;
    border: 2px solid black;
    margin-top: 30px;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.btn-danger{
    width: 200px;
    height: 40px;
    margin-left: 43%;
    margin-top: 50px;

}
.videos div{
    border-radius: 15px;
    overflow: hidden;

}
.videos img{
    width: 300px;
    height: 200px;
}